div.programmed {
  background-color: #696969;
  border: inset; 
  border-color: #696969;
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "courier";
} 
#programmedContent {
  background-color: #FAEBD7;
  border-style: double;
  border-color: black;
  font-style: serif;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
} 

div.index {
  width: 100%;
  text-align: center;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0.667em 0.667em 0.333em black;
}

div.indexContainer {
  font-size: 10px;
  font-style: serif;
  padding: 5px;
}
.programmedBy {
  font-size: 10px;
  font-style: serif;
  color: white;
}
.header {
  background-color: #008080;
  margin-top: 0px;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
@-ms-viewport{
  width: device-width;
}
button.backBtn {
  display: inline-block;
  float: left;
  background-color: transparent;
  border-color: transparent;
  margin-top: 1.3em;
}